body, *::after, *::before {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 3rem;
    color:#9EABB2;
    opacity: 100%;
    background: url("../images/bg-header-desktop.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    text-align: center;
}

h1,h2,h3 {
    font-weight: 600;
    color:#4C545C
}

h1 {
    font-size: 4.6rem;
}

h2 {
    font-size:3.6rem;
    margin-bottom: 2rem;;
}

h3 {
    font-size: 2.4rem;
}

a {
    color:white;
    text-decoration: none;
    font-weight: 600;
}

.centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 73rem;
    margin:auto;
}

.margin {
    margin-bottom: 7rem;
}

/* Clipboard header */

header {
    margin-top: 13.1rem;
}


header img:first-of-type {
    margin-bottom: 6.8rem;
}

header p:first-of-type {
    font-size: 2.1rem;
    margin-top: 1.6rem;
    margin-bottom: 4.8rem;
}

.buttons {
    display: flex;
    justify-content: space-between;
    width:47rem;
    margin:auto;
}

.button {
    width: 48%;
    border-radius: 1rem;
    height: 5.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#26BBA4;
}

.button:last-child {
    background-color: #6174FF;
}


/* Sections with articles */

section {
    margin-top: 15rem;
}

article {
    margin-bottom: 15rem;
}

article:nth-of-type(2) {
    margin-bottom: 5rem;
}


.mac {
    display: flex;
    justify-content: flex-start;
    transform: translateX(-3.2rem);
}

.mac > img {
    height:57.2rem;
}

.mac_desc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 11rem;
    margin-top: 6.8rem;

}

.mac_desc > div {
    text-align:left;
    max-width: 35rem;
    margin-bottom: 5.6rem;
}

.mac_desc p {
    font-size: 1.6rem;
    margin-top: 1rem;
}

.workflow {
    width:80%;
    margin: auto;
}

.cards {
    display: flex;
    justify-content: space-between;

}

.inner_card {
    max-width: 35rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.inner_card > p {
    font-size: 1.6rem;
}

.inner_card > img {
    height: 4rem;
    width:4rem
}

.inner_card:nth-of-type(3) > img {
    height: 4rem;
    width:5rem
}

.inner_card > h3 {
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.logos {
    display: flex;
    justify-content: space-between;
    margin-top: 15rem;
    margin-bottom: 15rem;
}

.logos > img {
    width:auto;
    height: auto;
}

/* Footer */

footer {
    margin-top: 15rem;
    bottom:0;
    height:15rem;
    background-color: #F5F7F7;
    display: flex;
    align-items: center;
}

.footer {
    width: 111rem;
    margin:auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.footer > img {
    width:5.5rem;
    height: auto;
    margin-right: 13.5rem;
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 7.2rem;
}

.details p {
    width:22.5rem;
    text-align: left;
    color:#4C545C;
    font-weight: 400;
}

.details p:hover {
    width:22.5rem;
    text-align: left;
    color: #9EABB2;
}

.logos_footer {
    display:flex;
    flex-direction: row-reverse;
    align-items: center;
    position: absolute;
    right:0;
}

.logos_footer > a {
    margin-left: 2rem;
}


/* active states */

.button:hover {
    background-color: #54f2a6;
}

.logos_footer img:hover {
    filter: invert(78%) sepia(83%) saturate(1865%) hue-rotate(355deg) brightness(99%) contrast(80%);
}

/* Responsive design */

@media screen and (max-width:500px){

html {
    font-size:50%;
}

section, header {
    width: 83%;
    margin:auto
}

h1 {
    line-height: 6rem;
}

h2 {
    line-height: 4.5rem;
}

header {
    margin-bottom: 10rem;
}

header > div:first-child {
    margin-top: 10rem;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width:100%;
    margin:auto;
}

.button {
    width: 100%;
    border-radius: 3rem;
    height: 5.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#26BBA4;
    margin-bottom: 2rem;
}

.mac {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transform: none;
}


.mac > img {
    width:100%;
    height: auto;
}

.mac_desc {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin:0;
    margin-top: 5rem;

}

.mac_desc > div {
    text-align:center;
    width: 100%;
    margin-bottom: 5.6rem;
}

.mac_desc p {
    font-size: 1.6rem;
    margin-top: 1rem;
}


article:nth-of-type(2) > img {
    width: 100%;
    height: auto;

}


.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

}

.inner_card {
    margin-bottom: 5rem;
}


.logos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 15rem;
    margin-bottom: 15rem;
}

.logos > img {
    width:50%;
    height: auto;
    margin-bottom: 10rem;
}


footer {
    width: 100%;
    margin-top: 15rem;    
    height:auto;  
      
}

.footer {
    width: 100%;
    margin:auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: static;
}

.footer > img {
    width:5.5rem;
    height: auto;
    margin: 5rem 0 5rem 0;
}

.logos_footer {
    display:flex;
    flex-direction: row-reverse;
    align-items: center;
    position: static;
    margin-top: 5rem;
    
}

.details p {
    width:22.5rem;
    text-align: center;
    padding: 2rem;  
    
}

.details p:hover {   
    text-align: center;   
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: auto;
}

.logos_footer > a {
    margin-left: 2rem;
    margin-right: 2rem;;
}


    
}